# Files
.dockerignore
.env
.env.example
.gitignore
.goreleaser.yaml

compose.yml
Dockerfile
haven
LICENSE
README.md
relays_blastr.json
relays_blastr.example.json
relays_import.json
relays_import.example.json
whitelisted_npubs.json
whitelisted_npubs.example.json

# Directories
.idea
.git
blossom
db
nginx
templates
backup

# Patterns
**/.DS_Store
